body{
    background-color: #fff5eb;
    display: flex;
}
.nav-dash{
    background-color: #deedf0;
    height: 100vh;
    width: 350px;
}
.nav-dash-user{
    background-color: #b2b8a3;
    height: 250px;
}

.nav-dash-user img{
    position: relative;
    right: calc(-50% + 75px);
    top: 10%;
    height: 150px;
    border-radius: 50%;
}

.nav-dash-user p{
    position: relative;
    top: 12%;
    text-align: center;
}

.margens{
    margin-top: 18%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}