body{
  background-color: #fff5eb;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: end;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 35px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111; 
  }

  .sticky {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 50%;
  }