body{
    background-color: #fff5eb;
}
.div-login{
    background-color: #e9ded4;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 550px;
}

.div-login form{
    position: relative;
    top: calc(50% - 73px);
    right: calc(-50% + 190px);
    width: 380px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .btn-primary{
      border-color: transparent;
      background-color: rgb(150, 147, 147);
  }
  